.container {
  text-align: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #cddeffac;
}

.container > h1 {
  font-size: 45px;
  margin: 20px 0;
  text-align: center;
  color: #4a5074;
}
